/{
    grove_chainable_led: grove_chainable_led {
        status = "okay";
        compatible = "grove,chainable-led";
        clk-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;  
        data-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>; 
    };
};

// MCU BOOT
// Delete slot1 and slot2 to enable rearranging of paritions
/delete-node/ &slot1_partition;
/delete-node/ &slot2_partition;
&quadspi {
    pinctrl-0 = <&quadspi_clk_pe10 &quadspi_ncs_pe11
             &quadspi_bk1_io0_pe12 &quadspi_bk1_io1_pe13
             &quadspi_bk1_io2_pe14 &quadspi_bk1_io3_pe15>;
    pinctrl-names = "default";
    dmas = <&dma1 5 5 0x0000>;
    dma-names = "tx_rx";

    status = "okay";

    mx25r6435f: qspi-nor-flash@90000000 {
        compatible = "st,stm32-qspi-nor";
        reg = <0x90000000 DT_SIZE_M(8)>; /* 64 Mbits */
        qspi-max-frequency = <50000000>;
        status = "okay";

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            slot2_partition: partition@0 {
                label = "image-2";
                reg = <0x00000000 DT_SIZE_K(864)>;
            };

            slot3_partition: partition@d8000 {
                label = "image-3";
                reg = <0x000d8000 DT_SIZE_M(7)>;
            };
        };
    };
};

// Delete slot0 to fix partition overlap
/delete-node/ &slot0_partition;
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x0 DT_SIZE_K(64)>;
            read-only;
        };

        slot0_partition: partition@10000 {
            label = "image-0";
            reg = <0x10000 DT_SIZE_K(468)>;
        };

        // Add new slot1 to ensure we can use swap algorithm
        slot1_partition: partition@84000 {
            label = "image-1";
            reg = <0x84000 DT_SIZE_K(460)>;
        };

        storage_partition: partition@f8000 {
            label = "storage";
            reg = <0xf8000 DT_SIZE_K(32)>;
        };
    };
};